* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}
body {
    background-color: hsl(210, 46%, 95%);
}
.card {
        max-width: 380px;
    width: 87%;
    font-size: 13px;
    font-family: 'Manrope';
    
    background-color: white;
        margin: 70px auto 0;
        border-radius: 20px;
        
}
.card .text {
        padding: 41px 30px 10px 30px;
    z-index: 2;
    background: white;
    position: relative;
}
.card h2 {
    font-size: 17px;
    font-weight: normal;
}
.card .description {
        letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 17px;
}
.flex {
    display: flex;
        margin-top: 25px;
}
.card .profilepic {
    width: 43px;
        margin-right: 16px;
    border-radius: 100px;

}
.card-image {
      width: 100%;
    object-fit: cover;
    object-position: 79% 30%;
    height: 200px;
}
.card .name {
        font-weight: bold;
    margin-top: 10px;
}
.card .date {
    margin-top: 2px;
}
.author {
    display: flex;
    flex-direction: column;
}
.card .share {
    position: absolute;
    right: 60px;
    bottom: 10px;
    font-size: 0px;
    background-image: url(images/icon-share.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: hsl(210, 46%, 95%);
    background-position: 50%;
}

@media (min-width:600px) {
    .card {
        display: flex;
        flex-direction: row;
            max-width: 740px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-image {

            width: 100%;
            object-fit: unset;
            object-position: unset;
            height: unset;
    }
    .card h2 {
    font-size: 21px;
    font-weight: normal;
}
}